[submodule "backend"]
	path = backend
	url = https://github.com/AAATechnicalTeam/dubai-archiving-system-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/AAATechnicalTeam/dubai-archiving-system-frontend.git
